body {
  font-size: 11px;
  margin: 0;
  padding: 0;
  height: 100vmax;
}

body>div>div {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5vh 5vw;
}

.background-image {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background-image: url("../images/background.svg");
  position: fixed;
}

.content>div {
  position: relative;
  z-index: 2;
}

.home>.logo {
  animation: 2s ease-out 0s 1 logoappear;
}

.logo {
  padding: 5vh 0 0 0;
}

.logomark {
  display: none;
}

.companyname {
  display: none;
}

.home {
  animation: 1s ease-out 0s 1 heroappear;
 
  padding-bottom: 5vh;
}

@keyframes heroappear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hero, .quotesection {
  background: linear-gradient(-45deg, #162835, #385469, #325c55, #162835);
  background-size: 800% 800%;
  -webkit-animation: gradientBG 15s ease infinite;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

ul.mainnav {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.mainnav li {
  color: #C0FCF8;
  float: right;
  text-align: center;
  padding: 16px;
  font-size: 1.7em;
font-family: 'lato', Arial, sans-serif;
}

.footer ul.mainnav li {
  color: #fff;
  padding: 16px;
  font-size: .8em;
font-family: 'lato', Arial, sans-serif;
}

.headline {
font-family: 'lato', Arial, sans-serif;
  font-weight: 300;
  font-size: 2em;
  color: #FFD8AB;
  padding: 0;
  margin: 0;
}

.missiontext {
  font-family: 'lato', Arial, sans-serif;
  font-weight: 300;
  font-size: 5em;
  color: #fff;
  letter-spacing: .01em;
  width: 60vw;
  padding-bottom: 0;
  opacity: 0;
  position: relative;
  animation-name: example;
  animation-duration: 2s;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
}

@keyframes example {
  0% {
    left: 0px;
    top: 0px;
    opacity: 0
  }

  100% {
    left: 0px;
    top: -20px;
    opacity: 1
  }

}

.summary {
  width: 80vw;
  font-size: 4.5em;
}

.expanddiv {
  border: 1px solid green;
  padding-bottom: -20em;
}

.summaryexpand {
  transition: 4s;
}

.inperson, .phoneconsultations, .surveys {
  opacity: 0;
}

.phoneconsultationsanimation {
  animation-name: example;
  position: relative;
  animation-duration: 2s;
  animation-delay: 700ms;
  animation-fill-mode: forwards;
}

.surveysanimation {
  animation-name: example;
  position: relative;
  animation-duration: 2s;
  animation-delay: 1200ms;
  animation-fill-mode: forwards;
}

.inpersonanimation {
  animation-name: example;
  position: relative;
  animation-duration: 2s;
  animation-delay: 1700ms;
  animation-fill-mode: forwards;
}

.quotesection .quote h1, .quoter {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  color: #fff;
  letter-spacing: .04em;
  text-indent: -0.4em;
}

.quote {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.3em;
}

.quoter {
font-family: 'lato', Arial, sans-serif;
}

h1 {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 2.2em;
  color: #000;
}

h2 {
font-family: 'lato', Arial, sans-serif;
  font-weight: 400;
  font-size: 2em;
}

ul.therapeuticclasses, ul.areasofexpertise {
  margin: 0;
  padding: 0;
}

.threecolumnsection h3, .subtext, .therapeuticclasses, .areasofexpertise, .breadcrumb {
font-family: 'lato', Arial, sans-serif;
  font-weight: 400;
  font-size: 2em;
  color: #174158;
}

.areasofexpertise .column, .therapeuticclasses .column {
  margin-right: 2.15em;
  font-size: 1.5em;
}

.videooverlay {
  margin: 15vh 0 0 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  color: #fff;
  background: rgba(0, 0, 0, .5);
  text-align: center;
  padding: 1.1em;
}

.threecolumnsection .column {
  display: inline-block;
  vertical-align: top;
  padding-right: 1em;
}

.threecolumnsection .column {
  width: 22vw;
}

.twocolumnsection .column {
  display: inline-block;
  vertical-align: top;
  width: 44vw;
}

.columnsmall {
  display: inline-block;
  vertical-align: top;
  width: 20vw;
  border: 1px solid green;
  padding: 1em 2em;
  border-radius: 6px;
  margin-left: 2em;
}

.expertsin .column {
  vertical-align: top;
  width: 22vw;
}

.Superiorsection .column {
  vertical-align: middle;
  display: inline-block;
  width: auto;
}

.img-fluid {
  width: 25vw;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  box-shadow: 6px;
}

.tag-wrap {
  filter: drop-shadow(5px 8px 0px #A3C0AD);
}

.servicessection, .expertsin, .Superiorsection {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.regulatoryapproval, .payorcoverage, .medicalmeetings {
  opacity: 0;
}

p {
font-family: 'lato', Arial, sans-serif;
  line-height: 1.5em;
  font-size: 2em;
}

.button {
  text-decoration: none;
  background-color: rgba(255, 255, 255, .1);
  color: #fff;
  cursor: pointer;
  padding: .6em;
  border-radius: 6px;
  border: 2px solid rgba(255, 255, 255, .4);
  font-size: 2em;
  font-family: lato;
  font-weight: 300;
  margin-right: 1em;
}

.button+.button::before {}

.footer {
  background: #162835;
  font-size: 2em;
font-family: 'lato', Arial, sans-serif;
  color: #fff;
}

.footer>a {
  color: #fff;
  font-size: 2em;
  font-weight: 700, bold;
}

ul.therapeuticclasses li, ul.areasofexpertise li {
  padding: 0 0 .5em 0;
  font-size: .85em;
  list-style-type: none;
  list-style-position: outside;
}

.expertsection ul li {
  font-size: 1.8em;
  padding: 0 0 1em 0;
  line-height: 1.5em;
  list-style-position: outside;
  font-weight: 300;
  font-family: lato;
}

a {
  text-decoration: none;
  transition: color 1s;
  border-bottom: 1px solid rgba(23, 65, 88, .3);
}

a:hover {
  color: #32973E;
  cursor: pointer;
}

a.button:hover {
  color: #FFD8AB;
  border: 2px solid #fff;
  transition: border 1s;
}



.videobackground {
  -webkit-clip-path: polygon(25% 10%, 90% 10%, 75% 95%, 10% 95%);
  clip-path: polygon(25% 10%, 90% 10%, 75% 95%, 10% 95%);
  background-image: url("../images/videoimage.png");
  background-size: 50%;
  background-position: center;
  height: 40vh;
  filter: drop-shadow(5px 8px 0px #A3C0AD);
  /* opacity:0; */
  transition-timing-function: ease-in;
  transition: 4s;
}

.hide {
  opacity: 0;
  transition: 3s;
}

.show {
  background-size: 100%;
  opacity: 1;
}

.logosmall {
  float: left;
  height: 5vh;
  padding: 1em;
}

nav {
  position: fixed;
  transition: 1s;
  padding: 1em;
  top: 0;
  width: 100%;
  height: 60px;
  background: #162835;
  opacity: 0;
  z-index: 100;
  color: #fff;
  vertical-align: bottom;
}

nav div {
  padding: 2em 10em 0 0;
}

nav a {
font-family: 'lato', Arial, sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.7em;
  padding-left: 2em;
  color: #fff;
}

.highlight, .highlight2 {
  color: orange;
  opacity: 0;
}

.highlighton {
  position: relative;
  animation-name: example3;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.highlighton2 {
  position: relative;
  animation-name: example3;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes example3 {
  0% {
    left: 0px;
    top: -20px;
    opacity: 0
  }

  100% {
    left: 0px;
    top: 0px;
    opacity: 1
  }
}


/* break point for mobile */
@media only screen and (max-width: 600px) {
  body>div {
    margin: 0;
  }

  .quote, .img-fluid, .missiontext, .threecolumnsection .column, .threecolumnsection .column, .twocolumnsection .column, .columnsmall {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
  }

  .quote {
    font-size: 1em;
  }

  .missiontext {
    padding: 2vh 0;
  }

  .summary, .missiontext {
    font-size: 2em;
  }

  .column {
    margin: 10vh 0;
  }

  .areasofexpertise .column, .therapeuticclasses .column {
    margin: 0;
  }

  ul.mainnav {
    display: none;
  }

  a.button {
    text-align: center;
    margin-bottom: 2em;
    display: block;
    width: 90%;
  }

  .footer>a {
    font-size: 1em;
  }

  nav a {

    font-size: 1.2em;
padding: 0;
margin: 0;

  }

  .columnsmall {
    padding: 1em;
  }

  ul.therapeuticclasses li, ul.areasofexpertise li {
    padding: 0 0 .5em 0;
    font-size: .65em;
    list-style-type: none;
    list-style-position: outside;
  }

  .hero {
    height: 80vh;
  }

  .expertsection {
    height: 40vh;
  }

  .logo {
    width: 90vw;
  }

  .logosmall {
    display: none;
  }

  .logomark {
    display: none;
  }
}

/* end breakpoint */

/* styleguide */

.serif {
  font-family: 'EB Garamond', serif; 
  font-weight: 400;
}

.sans-serif {
  font-family: 'lato', Arial, sans-serif;
  font-weight: 300;
}

.colorbox {
  display: inline-block;
  height: 20vh;
  width: 20vw;
  padding: .5em;
  margin-right: 3vw;
  font-size: 2em;
  color: #fff;
}

.orange {
background-color: #E38525;
}
.blue {
background-color: #162835;
}
.green {
background-color: #32973E;
}

.threecolumnsection  a {
  font-size: 3em;
}