body {
  font-size: 11px;
  margin: 0;
  padding: 0;

}

body > div {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5vh 10vw;

}

.logo {
padding: 5vh 0 0 0;
}

.companyname {
  display: none;
}

.hero, .quotesection, .footer {
background: linear-gradient(-45deg,#162835,#385469,#325c55,#162835);
background-size: 400% 400%;
-webkit-animation: gradientBG 10s ease infinite;
animation: gradientBG 10s ease infinite;
}

.hero {
padding-bottom: 10em;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

 ul.mainnav  {
list-style: none;
margin: 0;
padding: 0;


}

 ul.mainnav li  {
  color: #C0FCF8;
  float: right;
  text-align: center;
  padding: 16px;
  font-size: 1.7em;
  font-family: lato;
}

.footer ul.mainnav li  {
  color: #fff;

  padding: 16px;
  font-size: .8em;
  font-family: lato;
}

.headline {
  font-family: lato;
  font-weight: 400;
  font-size: 2em;
  color: #FFD8AB;
  padding: 0;
  margin: 0;
}

.missiontext {
  font-family: 'EB Garamond';
  font-weight: 400;
  font-size: 2.1em;
  color: #fff;
    letter-spacing: .04em;
    width: 60vw;
    padding: .75em 0;
}



.quotesection .quote h1, .quoter {
  font-family: 'EB Garamond';
  font-weight: 400;
  color: #fff;
  letter-spacing: .04em; text-indent: -0.55em;
}

.quote{
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.3em;
}


.quoter {
  font-family: lato;
}


h1 {
  font-family: Merriweather;
  font-weight: 400;
  font-size: 2.2em;
  color: #000;
}
h2 {
  font-family: lato;
  font-weight: 400;
  font-size: 2em;

}

.plaidbackground {

background-image: url("../images/background.svg");
background-repeat: repeat;
}

.videobackground {
  background-image: url("../images/videoimage.png");
  background-size: 100%;
  height: 40vh;
}

.threecolumnsection h3, .subtext, .therapeuticclasses, .areasofexpertise, a {
  font-family: lato;
  font-weight: 400;
  font-size: 2em;
  color: #174158;
}


.videooverlay {
margin: 15vh 0 0 0;
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
  color: #fff;
  background: rgba(0, 0, 0, .5);
  text-align: center;
  padding: 1.1em;
}

.threecolumnsection .column {
display:inline-block;
vertical-align: top;
  padding-right: 1em;
}

.threecolumnsection .column {
width: 22vw;
}

.twocolumnsection .column {
display: inline-block;
vertical-align: top;
width: 44vw;

}

.columnsmall {
  display: inline-block;
  vertical-align: top;
  width: 20vw;
  border: 1px solid green;
  padding: 1em 2em;
  border-radius: 6px;
  margin-left: 2em;

}


.Superiorsection {
  display: flex;
justify-content: center;
align-items: center;
}

.expertsin .column {
  vertical-align: top;
  width: 22vw;

}

.img-fluid {
  width: 25vw;
-webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
box-shadow: 6px;
}

.tag-wrap {
  filter: drop-shadow(5px 8px 0px #A3C0AD);
}



.servicessection, .expertsin {
  margin-left: auto;
  margin-right: auto;

  text-align:center;
}

/* .servicessection .column {
  padding: 1vw;
} */

p {
  font-family: lato;
  line-height: 1.5em;
  font-size: 2em;

}

.button {
  text-decoration: none;
  background-color: rgba(255,255,255,.1);
  color: #fff;
  cursor: pointer;
  padding: .6em;
  border-radius: 6px;
  border: 2px solid #fff;
  font-size: 2em;
  font-family: lato;
  font-weight: 300;
}

/* button + button {
  background-color: #E79332;
} */


.footer {
  font-size: 2em;
  font-family: Lato;

}

ul.therapeuticclasses li, ul.areasofexpertise li {
  padding: 0 0 .5em 0;
  font-size: .85em;
}

.expertsection ul li {
  font-size: 1.8em;
  padding: 0 0 1em 0;
  line-height: 1.5em;

  font-weight: 300;
  font-family: lato;
}

a {
  text-decoration: none;
  transition: color 1s;
}

a:hover {
   color: #FFD8AB;

}

@media only screen and (max-width: 600px) {

  body > div {
margin: 0;
 
  }

  .quote, .img-fluid, .missiontext, .threecolumnsection .column, .threecolumnsection .column, .twocolumnsection .column, .columnsmall {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;

  }

.quote {

  font-size: 1em;
}
  .column {
    margin: 10vh 0;
  }

ul.mainnav {
  display: none;
}

.button {
  text-align: center;
  margin-bottom: 2em;
  display: block;
  width: 90%;
}

.logo {
  width: 85vw;
}

}
